@author Olivier Boudeville <olivier (dot) boudeville (at) esperide (dot) com>

@copyright 2022 Olivier Boudeville

@version API PROJECT_VERSION

@title Welcome to the documentation of the Ceylan-Oceanic API

@doc <h3>Overview</h3>

<p>`Ceylan-Oceanic' gatehrs Erlang-based facilities for the support of the Enocean building automation system. It is a free software lightweight library implemented in <a href="http://erlang.org" target="_blank">Erlang</a>.
</p>

<p>This website presents the documentation of the API (<em>Application Programming Interface</em>) of Ceylan-Oceanic version PROJECT_VERSION (as of GENERATION_DATE).
</p>

<p>Ceylan-Oceanic relies on the <a href="http://myriad.esperide.org" target="_blank">Myriad layer</a>, a generic Erlang toolbox.
</p>


@reference See the <a href="http://oceanic.esperide.org" target="_blank">Oceanic official website</a> or <a href="https://olivier-boudeville.github.io/Ceylan-Oceanic/index.html" target="_blank">its mirror</a>

@reference In terms of dependency, for additional information one may refer to:
<ul>
  <li>the <a href="http://myriad.esperide.org" target="_blank">Myriad official website</a> or <a href="https://olivier-boudeville.github.io/Ceylan-Myriad/index.html" target="_blank">its mirror</a>, notably its <a href="https://myriad.esperide.org/api-doc/index.html" target="_blank">API documentation</a></li>
  <li>the <a href="http://erlang.org" target="_blank">Erlang official website</a>, notably its <a href="https://erlang.org/doc/man_index.html">API documentation</a></li>
</ul>
